@use "../../variables";

.productCard {
  background-color: variables.$white;
  margin: 0;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &__name {
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__base_price {
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
  }
}
