$yellow: #ffb600;
$orange: #ff6d00;
$white: #fff0de;

$umber: #6f5e53;
$roseEbony: #593d3b;

$moonstone: #73a6ad;

// Would adding a black background some places offset the fall-ish yellow?
$black: #000000;

$blueCrayola: #3772ff;

$paynesGray: #4f6d7a;
$roseWood: #510d0a;

$licorice: #230903;
$ebony: #656256;
$coffeeBean: #2a140e;

$drPrimary: #3c1d4b;
$drSecondary: #ff0068;
$drAccent2: #5b211e;
$drAccent1: #ff611d;

$sbPrimary: #018ea5;
$sbSecondary: #f1e815;

$hsPrimary: #bd5e07;
$hsSecondary: #018ea5;

$ffPrimary: #ffbedf;
$ffSecondary: #ee274e;
